<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body class="bg-dark min-vh-100 d-flex align-items-center justify-content-center">
<div class="container d-flex justify-content-center">
    <div class="card" style="width:520px">
        <div class="card-body p-5">
            <h4 class="text-center mb-4">🛡️ Incident Manager</h4>
            <div th:if="${param.error}"
                 class="alert alert-danger">
                Invalid credentials
            </div>
            <div th:if="${param.logout}"
                 class="alert alert-success">
                You have been logged out.
            </div>
            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" name="username"
                           class="form-control form-control-lg" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="password"
                           class="form-control form-control-lg" required>
                </div>
                <button class="btn btn-danger w-100">Login</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>